# Node modules
node_modules/

# Production build folder (อาจใช้ชื่อ dist หรือ build)
dist/
build/

# Log files
*.log

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache directories
.cache/
