# Python bytecode
*.py[cod]
__pycache__/

# Virtual Environment
venv/
env/
ENV/

# Django stuff:
*.log
local_settings.py
db.sqlite3
/staticfiles/

# Backup files
*.bak
*.swp

# IDE or Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
