/* src/pages/Account.css */
.account-page {
    display: flex;
    padding: 2rem;
  }
  
  .account-left {
    width: 30%;
    border-right: 1px solid #ddd;
    padding-right: 1rem;
  }
  
  .account-left img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
  }
  
  .account-left h2 {
    margin-top: 1rem;
  }
  
  .account-left p {
    margin: 0.5rem 0;
  }
  
  .account-left button {
    margin-top: 1rem;
    display: block;
    width: 100%;
  }
  
  .account-right {
    width: 70%;
    padding-left: 1rem;
  }
  
  .book-item {
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }
  
  .book-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }
  
  .book-info {
    margin-left: 1rem;
  }
  
  .book-info h4 {
    margin: 0;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    width: 400px;
  }
  